/**
 * It is very likely you don't need to change this file. 
 */

 * {
   border: 0;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   height: 30vh;
   width: 100%;
   background-image: white;
 }

 
 .app {
   display:flex;
   justify-content: space-evenly;
   flex-direction: column;
   overflow: hidden;
 }
 
 #header {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: stretch;
  background-color: gray;
  padding: 8px;
  text-align: center;
  color: white;
  font-size: xx-large;
  top: 0;
  /* position: fixed;
  width: 100%; */
}
 
 .header h1 {
   font-family: 'Parisienne', cursive;
   font-size: 5rem;
 }
 
 .header h5 {
   font-size: 1rem;
 }

 .headerBox{
  display: flex;
  justify-content: flex-end;
 }

 .routesBox{
   border: 1px solid red;
 }
 
#routineLink{
  position: relative
  
}

 #routineLink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#routineLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#link {
  color: black;
  text-decoration: none;
  padding: 1em;
  font-size: large;
}


  #myProfile {
display: flex;
flex-direction: column;
    background-color: white;
    font-family: 'Arial', cursive;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    border: 2px solid #73AD21;
    padding: 20px;
  }


  #main{

    padding: 10%;
  }

  #Register {
    border: 2px solid black;
    padding: 10px;
    align-content: center; 
  }

  input{
    border: 1px solid blue;
  }

  .routine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black ;
    padding: 30px;
    margin: 30px;
    
  }
  .activity {
    border : 1px solid gray;
    padding: 10px;
  }
  .postRoutine {
    border : 1px solid gray;
    padding: 10px;
  }

  .activitiesBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid red;
    width: 75%;
    height: 50%;
  }
  .activities {
    border: 5px solid black;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px blue;
    margin: 10px;
  }

  .button{
    background-color: whitesmoke;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: medium;
    margin: 4px 2px;
    opacity: 0.6;
    transition: color 1s ease-in-out, box-shadow .6s ease-in-out;
    border-radius: 15px;
}
  

.button:hover{
  opacity: 1;
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;
};



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



  

  
 
 