/**
 * It is very likely you don't need to change this file. 
 */

 * {
   border: 0;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   height: 30vh;
   width: 100%;
   background-image: white;
   display: flex;
   flex-direction: column;
 }

 
 .app {
   display:flex;
   justify-content: space-evenly;
   flex-direction: column;
   overflow: hidden;
   }
 
 #header {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: stretch;
  background-color: 	#060709;
  /* padding: 8px; */
  text-align: center;
  font-family: 'Parisienne', cursive;
  color: white;
  font-size: xx-large;
  top: 0;
  /* margin-bottom: 15px; */
  box-shadow: 5px 5px 5px  rgb(58, 50, 50);
  /* position: fixed;
  width: 100%; */
}

h2{
  font-family: Arial, Helvetica, sans-serif;

}
 
 .header h1 {
   font-family: 'Parisienne', cursive;
   font-size: 5rem;
 }
 
 .header h5 {
   font-size: 1rem;
 }

 .headerBox{
  display: flex;
  justify-content: flex-end;
 }

 .routesBox{
   border: 1px solid red;
 }
 
#routineLink{
  position: relative
  
}

 #routineLink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

#routineLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#link {
  color: black;
  text-decoration: none;
  padding: 1em;
  font-size: large;
}


  #myProfile {
display: flex;
flex-direction: column;
    background-color: white;
    font-family: 'Arial', cursive;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    border: 2px solid #73AD21;
    padding: 20px;
  }


  #main{

    padding: 10%;
  }

  #Register {
    border: 2px solid black;
    padding: 10px;
    align-content: center; 
  }

  input{
    border: 1px solid blue;
    
  }

  .routine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black ;
    padding: 30px;
    margin: 30px;
    
  }
  .activity {
    border : 1px solid gray;
    padding: 10px;
  }
  .postRoutine {
    border : 1px solid gray;
    padding: 10px;
  }

  .contentBox{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding: 15px */
    background: white;
    box-shadow: 5px, 5px, #18272F;

  }

  .content {
    border: 5px solid black;
    padding: 10px;
    /* border-radius: 15px; */
    box-shadow: 3px 3px 3px black;
    background-color: #f14e4e;
    margin: 10px;
    font-size: medium;
    font-family: Arial;
  }

  .editDeleteButtons{
    border: 2px solid black;
    width: 18%;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: medium;
    font-family: Arial;
    margin: 4px 2px;
    opacity: 0.8;
    transition: color 0.1s ease-in-out, box-shadow .0.1s ease-in-out;
    /* border-radius: 20px; */
  }

  /* .editDeleteButtons:hover{
    opacity: 1;
    color: #fff;
    box-shadow: inset 210px 0 0 0 rgb(0, 0, 0);
  } */


  .editButton{
    width: 100%;
    font-family: Arial;
    font-size: medium;
  }

  .editButton:hover{
  cursor: pointer;
  }

  .deleteButton{
    width: 100%;
    font-family: Arial;
    font-size: medium;
  }

  .deleteButton:hover{
    cursor: pointer;
  }

  .submitEdit{
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 5px;
  }

  .submitEdit:hover{
  cursor: pointer;
  }
  .button{
    background-color: whitesmoke;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: medium;
    margin: 4px 2px;
    opacity: 0.6;
    transition: color 1s ease-in-out, box-shadow .6s ease-in-out;
    border-radius: 15px;
}
  
.button:hover{
  opacity: 1;
  color: #fff;
  box-shadow: inset 210px 0 0 0 #54b3d6;
};

.submitButton{
  background-color: red;
  text-emphasis-color: red;

}

.login{
  background-color: #3eb5e0;
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgb(77, 77, 77);
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%; /* Full width */
  height: 30%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 0px;
  display: flex;  
  justify-content: center;
  }

  .login-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 100px
  }

  #submitButton{
    align-self: auto;
    padding-left: 50%
  }


 
 .boxForContent{
   margin-top: 10px;
   height: 100%;
 }

 .myRoutinesContent{
   border: 2px solid black;
 }

 .Signup{
  /* border: 2px solid black; */
  background-color: #3eb5e0;
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgb(77, 77, 77);
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%; /* Full width */
  height: 30%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 0px;
  display: flex;  
  justify-content: center;
 }

 .Signup-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding: 100px
 }

 #user{
  background-color: #3eb5e0;
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgb(77, 77, 77);
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%; /* Full width */
  height: 30%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 0px;
  display: flex;  
  justify-content: center;
  }

  .userContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 100px;
    font: Arial;
    font-size: medium;
  }